<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Welcome Page</title>
</head>
<body>
    <!-- flask has a micro-syntax we can use in html templates -->
    <article>
        <section>
            <h2>Hello from Flask</h2>
            {% if name %}
            <h3>Greetings {{name}}</h3>
            {% else %}
            <h3>Greetings anonymous person</h3>
            {% endif %}
        </section>
    </article>
</body>
</html>